<br><br> SAD
<input type="radio" value="sad" [(ngModel)]="emojiName" /> <br> HAPPY
<input type="radio" value="happy" [(ngModel)]="emojiName" /> <br> ANGRY
<input type="radio" value="angry" [(ngModel)]="emojiName" /> <br>

<br><br>

<h3 style="font-size: 50px;color:yellow;background-color: black; border: 80%;">{{emojiName | emoji}}</h3>

<input type="text" [(ngModel)]="numberToWord" />
<div [ngPlural]="numberToWord">
    <ng-template ngPluralCase="=">NULL</ng-template>
    <ng-template ngPluralCase="=0">Zero</ng-template>
    <ng-template ngPluralCase="=1">One</ng-template>
    <ng-template ngPluralCase="=2">Two</ng-template>
    <ng-template ngPluralCase="=3">Few</ng-template>
    <ng-template ngPluralCase="=4">Many</ng-template>
    <ng-template ngPluralCase="other">Others</ng-template>
</div>