<form [formGroup]="employeeForm" (ngSubmit)="addData()">
    <div style="align-items: center;">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input formControlName="fullName" class="form-control" placeholder="Full name" type="text">
                    <div *ngIf="submitted && formControl.firstName.errors" class="invalid-feedback">
                        <div *ngIf="formControl.firstName.errors.required">*First Name is required</div>
                        <div *ngIf="formControl.firstName.errors.minlength  ">*min 4 characters required</div>
                    </div>
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input formControlName="emailAddress" class="form-control" placeholder="Email address" type="email">
                    <div *ngIf="submitted && formControl.emailAddress.errors" class="invalid-feedback">
                        <div *ngIf="formControl.emailAddress.errors.required">*Email is required</div>
                    </div>
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>

                    <input formControlName="mobileNumber" class="form-control" placeholder="Phone number" type="text">
                    <div>
                        <div *ngIf="submitted && formControl.mobileNumber.errors" >
                            <div *ngIf="formControl.MobileNumber.errors.required">*mobile number is required</div>
                            <div *ngIf="formControl.mobileNumber.errors.minlength">
                             <div  *ngIf="formControl.mobileNumber.errors.maxlength">   
                                *mobile Number should be of 10 characters
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <select class="form-control" formControlName="departmentName">
			<option>UI</option>
			<option>angular</option>
			<option>.Net</option>
			<option>Mobile</option>
        </select>
                    <br> <br> <br>
                    <div>
                        <input type="date" formControlName="dateHire" />
                        <div *ngIf="submitted && formControl.dateHire.errors" class="invalid-feedback">
                            <div *ngIf="formControl.dateHire.errors.required">*Date of hire is required</div>
                        </div>
                    </div>
                    <br>

                    <br> <br>
                    <div>
                        <input type="radio" formControlName="gender" value="MALE" />Male<br>
                        <input type="radio" formControlName="gender" value="Female" />Female<br>
                        <input type="radio" formControlName="gender" value="Others" />Other<br>
                        <div *ngIf="submitted && formControl.gender.errors" class="invalid-feedback">
                            <div *ngIf="formControl.gender.errors.required">*Please enter your gender</div>
                        </div>
                    </div>
                    <br>

                    <br> <br>
                    <div>
                        <input type="checkbox" formControlName="employeeType" />Are you a permanent employee<br>
                    </div>
                    <br>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input formControlName="cityName" class="form-control" placeholder="City" type="text">
                        <div *ngIf="submitted && formControl.cityName.errors" class="invalid-feedback">
                            <div *ngIf="formControl.cityName.errors.required">*City  is required</div>
                        </div>
                    </div>
                </div>
                <!-- form-group end.// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!employeeForm.valid"> Create Account  </button>
                </div>
                <div class="form-group">
                    <span class="btn btn-primary btn-block" (click)="resetData()">  Clear </span>
                </div>
                <!-- form-group// -->
                <p class="text-center">Have an account? <a href="">Log In</a> </p>

            </article>
        </div>
        <!-- card.// -->
        <!--container end.//-->
        <br><br>
    </div>
</form>